.intial-agent-container {
    text-align: center;
    min-height: 100vh;
    background: url("../../../assets/page7.jpeg") no-repeat center/cover;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .styled-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    color: rgb(20, 20, 20);
    margin-top:20px;
  }
  
  .view-properties {
    background-color: #d6621f;
  }
  
  .styled-button:hover {
    opacity: 0.8;
  }
  
  .styled-button:active {
    transform: scale(0.98);
  }     